@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/images2.jpg");
    min-height: 100vh;
/*  background-size: 100vw 100vh;
    background-repeat: no-repeat;*/ 
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    color: white;
    position: absolute;
    top: 9px;
    right: 459px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}
/*
to modify poistion on site web : go to the site and inspect it
go to Elements : select the div you want to modify 
go to the window Styles / element.style{} and click on parameter to modify + (up or down arrow)
*/
#hiscoreBox{
    color: white;
    position: absolute;
    top: 59px;
    right: 120px;
    font-size: 59px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

#board{
    background: linear-gradient(rgb(133, 212, 133), rgb(221, 221, 48));
    width: 60vmin;
    height: 60vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(green, yellow);
    border: 2px solid yellow;
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background: linear-gradient(yellow, green);
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(cyan, rebeccapurple);
    border: .25vmin solid black;
    border-radius: 8px;
}